body {
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}

.app-bar {
    height: 7vh;
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.app-bar .no-style-link {
    font-size: 2.7vh;
}

.modal-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-pointer {
    cursor: pointer;
}

.w-65 {
    width: 65%;
}

.w-35 {
    width: 35%;
}

.no-style-link {
    color: inherit !important;
    cursor: pointer;
}
.no-style-link:hover {
    color: inherit !important;
}

.project-item {
    display: flex !important;
    width: 700px;
    font-size: 20px;
    align-self: center;
}

.project-item:hover {
    background: #eef1ff;
}

.project-item .project-own {
    color: #5d5d5d;
    margin-left: 10px;
}

.custom-badge {
    width: fit-content;
    font-size: 18px;
    cursor: pointer;
}

.project-item .project-role {
    font-size: 24px;
    align-items: end;
    margin-top: 5px;
    margin-right: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.project-item .project-type {
    margin-left: 10px;
    margin-top: 15px;
}

.badge-green {
    background: linear-gradient(110deg, rgb(13, 122, 26) 0%, rgb(1, 196, 22) 100%) !important;
}

.badge-yellow {
    background: linear-gradient(165deg, rgb(210, 117, 0) 0%, rgb(255, 227, 0) 100%) !important;
}

.badge-red {
    background: linear-gradient(135deg, rgba(170,0,0,1) 0%, #ff0000 100%) !important;
}

.badge-purple {
    background: linear-gradient(145deg, rgb(107, 9, 169) 0%, rgb(202, 56, 248) 100%) !important;
}

.badge-blue {
    background: linear-gradient(155deg, rgba(15,15,159,1) 0%, rgba(49,132,255,1) 100%) !important;
}

.badge-grey {
    background: linear-gradient(155deg, #555555 0%, #bbbbbb 100%) !important;
}

.project-item-half {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editor .ql-editor {
    height: 100%;
    background-color: white;
    font-family: Consolas, serif;
    font-size: 18px;
    padding: 25px;
    text-wrap: avoid;
    white-space: pre;
}

.ql-container {
    height: 100%;
}

.selected-file {
    background: #8b8bfd;
    color: white !important;
}
.selected-file:hover {
    color: white !important;
}
.file:hover {
    background: #d7f6d9;
    color: black !important;
}

.editor {
    height: 100%;
    max-height: 100%;
}

.editor-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding: 0 20px;
}

.editor-panel * {
    margin: 0;
}

.workspace-page {
    height: 93vh;
    max-height: 93vh;
}

.editor-container {
    height: 100%;
    max-height: 100%;
}

.hello  {
    height: 200px;
}

.eee {
    height: 500px;
}

.create-proj-button {
    font-size: 36px !important;
    text-transform: none !important;
    width: 650px;
    margin: 30px 0 !important;
}

.create-proj-button p {
    margin: 0;
    padding-left: 15px;
}

.proj-info {
    width: 70%;
    margin: auto;
}

.proj-desc-box {
    width: fit-content;
    max-width: 100%;
    padding: 15px 20px;
    margin-top: -3px;
}

.users-accordion {
    width: 80%;
    margin: auto !important;
}

.project-user-edit {
    opacity: 20%;
    transition: .3s all ease;
}

.project-user-edit {
}

.user-info:hover .project-user-edit {
    opacity: 100%;
}

.edit-proj {
    opacity: 20%;
    transition: .3s all ease !important;
}

.proj-title:hover .edit-proj  {
    opacity: 100%;
}

.no-margin {
    margin: 0 !important;
}

.no-margin * {
    margin: 0 !important;
}

.b-i-input input {
    font-weight: bold !important;
}

.b-i-input label {
    color: #262626 !important;
}

.new-project-name-input {

}

.new-project-name-input input {
    font-size: 28px !important;
}

.new-project-name-input .MuiInputLabel-shrink {
    font-size: 20px;
    background: white;
    padding-right: 5px;
}

.modal-close-icon {
    opacity: 30%;
}

.modal-close-icon:hover {
    opacity: 100%;
}

.bigger-help-text .MuiFormHelperText-contained {
    font-size: 15px !important;
    text-align: center !important;
    margin: 6px -10px -9px !important;
}